<div class="page-header">
  <h2><%= t('.title') %></h2>
</div>

<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= Voting.human_attribute_name(:title) %></th>
      <th><%= Submit.human_attribute_name(:created_at) %></th>
      <th><%= Submit.human_attribute_name(:submited_at) %></th>
      <th><%= Submit.human_attribute_name(:delegater) %></th>
    </tr>
  </thead>
  <tbody>
    <% @submits.each do |s| %>
    <tr>
      <td><%= link_to s.voting.title, edit_users_submit_path(s) %></td>
      <td><%= s.created_at.to_s(:Ymd) %></td>
      <td><%= s.submited_at ? s.submited_at.to_s(:Ymd) : t('.label.unsubmit') %></td>
      <td><%= s.delegater.present? ? s.delegater : t('.label.auto') %></td>
    </tr>
    <% end %>
  </tbody>
</table>
