<div class="page-header">
  <h2><%= t('.title') %></h2>
</div>

<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= Voting.human_attribute_name(:title) %></th>
      <th><%= Submit.human_attribute_name(:created_at) %></th>
      <th><%= Submit.human_attribute_name(:delegater) %></th>
    </tr>
  </thead>
  <tbody>
    <% @votings.each do |v| %>
    <tr>
      <td><%= link_to v.title, edit_users_submit_path(v) %></td>
      <td><%= v.submited_at.to_s(:Ymd) if v.submited_at %></td>
      <td><%= v.delegater %></td>
    </tr>
    <% end %>
  </tbody>
</table>
