<% content_for :command do %>
  <ul class="nav nav-list">
    <li><%= link_to t('dashboard'), admins_root_path %></li>
    <li><%= link_to t('.command.new'), new_admins_user_path %></li>
  </ul>
<% end %>

<div class="page-header">
  <h2><%= t('.title') %></h2>
</div>

<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= Voting.human_attribute_name(:name) %></th>
      <th><%= Voting.human_attribute_name(:email) %></th>
      <th><%= Voting.human_attribute_name(:created_at) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |v| %>
    <tr>
      <td><%= v.name %></td>
      <td><%= v.email %></td>
      <td><%= v.created_at.to_s(:Ymd) %></td>
      <td>
        <%= link_to t('.link.edit'), edit_admins_user_path(v) %>
        <%= link_to t('.link.destroy'), admins_user_path(v), method: :delete %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
