<% content_for :command do %>
  <ul class="nav nav-list">
    <li><%= link_to t('.command.index'), admins_votings_path %></li>
    <li><%= link_to t('.command.new'), new_admins_voting_path %></li>
    <!--<li><%= link_to t('.command.edit'), edit_admins_voting_path(@voting) %></li>-->
  </ul>
<% end %>

<div class="page-header">
  <h2><center><%= @voting.title %></center></h2>
</div>

<div><%= @voting.description %></div>

<div class="page-header">
  <h4><center><%= Proposal.model_name.human %></center></h4>
</div>
<% @voting.proposals.each do |p| %>
  <div class='well'>
    <div class="page-header">
      <h5><%= p.title %></h5>
      <p><%= p.body %></p>
      <table class='table'>
        <% Decision.decision.values.each do |d| %>
          <tr>
            <td><%= d.text %></td>
            <td><%= Decision.send("count_#{d}", p.id) %></td>
            <td>
              <%# Decision.send("users_#{d}", p.id).each do |u| %>
              <%# end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>

<div class="page-header">
  <h4>サマリー</h4>
</div>
<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= Proposal.human_attribute_name(:title) %></th>
      <% Decision.decision.values.each do |d| %>
        <th><%= Decision.decision.find_value(d).text %></th>
      <% end %>
    </tr>
  </thead>
  <% @voting.proposals.each do |p| %>
    <tr>
      <td width='200'><%= p.title %></td>
      <% Decision.decision.values.each do |d| %>
        <td><%= Decision.send("count_#{d}", p.id) %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />
<br />
<div class="page-header">
  <h4><%= t('.delegate_description') %></h4>
</div>

<% @voting.submits.each do |s| %>
  <div class='well'>
    <div class="page-header">
      <h4>
        <%= s.user.name %> 
        <small>
          <%= Submit.human_attribute_name(:submited_at) %> : 
          <% if s.submited_at? %>
            <%= s.submited_at.to_s(:Ymd) %>
          <% else %>
            <label class='label label-danger'><%= t('.unsubmit') %></label>
          <% end %>
        </small>
      </h4>
    </div>
    <p><%= Submit.human_attribute_name(:delegater) %> : <%= s.delegater %></p>
    <table class='table table-striped'>
      <% s.decisions.each do |d| %>
        <tr>
          <td><%= d.proposal.title %></td>
          <td><%= Decision.decision.find_value(d.decision).text %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
